deepfilternet
deepfilterlib

torch
torchaudio
librosa
soundfile

pandas
numpy<2.0
pesq
pystoi
torchmetrics[audio]

loguru
tqdm
appdirs

HyperPyYAML
modelscope
inflect
omegaconf
diffusers
transformers
accelerate
onnxruntime-gpu
conformer
openai-whisper

python-multipart
fastapi
gradio